.video-wrapper {
    display: none;
}

.video-wrapper, .video-wrapper .video-container {
    position: relative;
}

.video-wrapper .video-container {
    display: inline-block;
}

.video-wrapper .user-controls, .video-wrapper .video-state {
    position: absolute;
    padding: 10px;
    z-index: 2;
}

.video-wrapper .user-controls {
    top: 10px;
}

.video-wrapper .user-controls #exit-fullscreen {
    display: none;
}

.fullscreen .video-wrapper .user-controls {
    z-index: 2147483647;
}

.fullscreen .video-wrapper .user-controls #exit-fullscreen {
    display: inline;
}

.loading-area {
    display: none;
    z-index: 3;
    width: 100%;
    height: 100%;
    position: absolute;
    background: #000;
    top: 0;
}

.loading-area img {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    margin: auto;
    width: 100%;
    max-height: 100%;
}

.video-wrapper #poster {
    position: absolute;
    width: 100%;
    max-height: 100%;
    opacity: 0.9;
    top: 0;
    left: 0;
}

.fullscreen .video-wrapper #poster {
    z-index: 2147483647;
}

.video-wrapper .video-state {
    right: 0px;
    top: 0px;
}

.fullscreen .video-wrapper .video-state {
    z-index: 2147483647;
    right: 30px;
    top: 30px;
}

.video-wrapper .video-state span {
    color: #fff;
    background: #000;
    padding: 5px;
    font-size: 14px;
}

.fullscreen .video-wrapper .video-state span {
    color: #fff;
    background: #000;
    padding: 5px;
    font-size: 18px;
}

.video-wrapper .user-controls img {
    width: 50px;
    height: 50px;
    cursor: pointer;
}

/* hide full screen video controls in -webkit browsers */

.video-wrapper video::-webkit-media-controls {
    display:none !important;
}

.extra-features {
    display: none;
}

.fullscreen video {
    width: 100%;
    height: 100%;
}